.circle--TOR {
  fill: #CE1141 !important;
}
.text--TOR {
  fill: #FFFFFF !important;
}

.circle--GSW {
  fill: #006BB6 !important;
}
.text--GSW {
  fill: #FDB927 !important;
}

.circle--MIL {
  fill: #00471B !important;
}
.text--MIL {
  fill: #EEE1C6 !important;
}

.circle--POR {
  fill: #E03A3E !important;
}
.text--POR {
  fill: #000000 !important;
}
