////////////////////////////////////////////////////////////////////////////////
///// GLOBAL TEXT STYLES

$heading-margin-top: 0;
$heading-margin-bottom: 1rem;

$body-font-size: 16px;
$body-font-size-mobile: 14px;
$line-height: 1.2rem;

// Type scale courtesy of https://type-scale.com/
$text-scale-mobile-1: 2.488;
$text-scale-mobile-2: 2.074;
$text-scale-mobile-3: 1.728;
$text-scale-mobile-4: 1.440;
$text-scale-mobile-5: 1.20;
$text-scale-mobile-6: 1;

$text-scale-1: 3.052;
$text-scale-2: 2.441;
$text-scale-3: 1.953;
$text-scale-4: 1.563;
$text-scale-5: 1.25;
$text-scale-6: 1;

body {
  // Setting 16px as 1em
  // Just change this variable to effectively change all text sizes.
  // The font scale is tied directly to this (via rem units)
  font-size: $body-font-size-mobile;
  line-height: $body-font-size-mobile * 1.2;
}

div, span, p, a, li, ol, ul, {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: $line-height;
}

p {
  padding-bottom: $space-unit;
}

ol, ul {
  padding-bottom: $space-unit;
  padding-inline-start: $space-unit;
}

li {
  padding-bottom: $space-unit * 0.75;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee Shade', sans-serif;
  font-weight: 700;
  margin: $heading-margin-top 0 $heading-margin-bottom 0;
  margin-block-start: $heading-margin-top;
  margin-block-end: $heading-margin-bottom;
}

h1 {
  font-size: 1rem * $text-scale-mobile-1;
  line-height: $line-height * $text-scale-mobile-1;
}
h2 {
  font-size: 1rem * $text-scale-mobile-2;
  line-height: $line-height * $text-scale-mobile-2;
}
h3 {
  font-size: 1rem * $text-scale-mobile-3;
  line-height: $line-height * $text-scale-mobile-3;
}
h4 {
  font-size: 1rem * $text-scale-mobile-4;
  line-height: $line-height * $text-scale-mobile-4;
}
h5 {
  font-size: 1rem * $text-scale-mobile-5;
  line-height: $line-height * $text-scale-mobile-5;
}
h6 {
  font-size: 1rem * $text-scale-mobile-6;
  line-height: $line-height * $text-scale-mobile-6;
}

/* Larger than tablet */
@media (min-width: 750px) {
  body {
    font-size: $body-font-size;
    font-size: $body-font-size * 1.15;
  }
  h1 {
    font-size: 1rem * $text-scale-1;
    line-height: $line-height * $text-scale-1;
  }
  h2 {
    font-size: 1rem * $text-scale-2;
    line-height: $line-height * $text-scale-2;
  }
  h3 {
    font-size: 1rem * $text-scale-3;
    line-height: $line-height * $text-scale-3;
  }
  h4 {
    font-size: 1rem * $text-scale-4;
    line-height: $line-height * $text-scale-4;
  }
  h5 {
    font-size: 1rem * $text-scale-5;
    line-height: $line-height * $text-scale-5;
  }
  h6 {
    font-size: 1rem * $text-scale-6;
    line-height: $line-height * $text-scale-6;
  }
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: $link-normal;
  }
  &:focus,
  &:hover,
  &:active {
    color: $link-active;
  }
}

.header-anchor {
  display: none;
}
